body {
  background-image: url("https://www.americangamingsupply.com/images/products/detail/GCLO-283.jpg");
  /* "https://www.americangamingsupply.com/images/products/detail/GCLO-283.jpg" regular background */
  /* "https://c.tenor.com/ZDe0dPKLr3AAAAAi/raining-money-money.gif" transparent flying money gif */
  /* "https://media3.giphy.com/media/xT5LMzWVNsfgu6srOU/200.gif" busted animation*/
  background-color: #308834;
  /* background-repeat: no-repeat;
  background-size: 100%; */
 }
#gameOutcome {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: URW Chancery L, cursive;
  font-size: 50px;
  color: #ef5350;
}
#dealerScore {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 40px;
  top: 0px;
  right: 200px;
}

#playerScore {
  position: absolute;
  color: white;
  font-size: 40px;
  bottom: 10px;
  right: 200px;
}

.cardholder {
  position: absolute;
  width: 186px;
  height: 264px;
  border-radius: 15px;
}

#playerCard1 {
  right: calc(50% + 307px);
  top: 65%;
}

#playerCard2 {
  right: calc(50% + 107px);
  top: 65%;
}

#playerCard3 {
  right: calc(50% - 93px);
  top: 65%;
}

#playerCard4 {
  right: calc(50% - 293px);
  top: 65%;
}

#playerCard5 {
  right: calc(50% - 493px);
  top: 65%;
}

#newGameButton { /* Here is the syling for the newGameButton*/
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
  bottom: 10px;
  border-radius: 15px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.0);
}

#hitButton {
  position: absolute;
  background-color: #FF9E9E;
  width: 250px;
  height: 75px;
  font-size: 40px;
  text-align: center;
  line-height: 75px;
  right: 5%;
  top: 40%;
  border-radius: 15px;
  border-style: solid;
  border-color: black;
}

#standButton {
  position: absolute;
  background-color: #9EFFBF;
  width: 250px;
  height: 75px;
  font-size: 40px;
  text-align: center;
  line-height: 75px;
  right: 5%;
  top: 50%;
  border-radius: 15px;
  border-style: solid;
  border-color: black;
}

.rounded {
  border-radius: 15px;
}

.button:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

#hitButton:hover {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

#standButton:hover {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}

#tempCard {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px;
}

.movedIn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.moveCardIn {
  animation: cardEntry 0.8s ease;
  animation-fill-mode: forwards;
}

.moveCardOut {
  animation: cardExit 0.8s ease;
  animation-fill-mode: backwards;
}

@keyframes cardEntry {
  0%   {left:50%; top:-50%;}
  /* 25%  {left:50%; top:0px;}
  50%  {left:50%; top:200px;}
  75%  {left:50%; top:200px;} */
  100% {left:50%; top:50%;}
}

@keyframes cardExit {
  0%   {left:50%; top:50%;}
  /* 25%  {left:50%; top:0px;}
  50%  {left:50%; top:200px;}
  75%  {left:50%; top:200px;} */
  100% {left:50%; top:-50%;}
}